.has-feedback .form-control-feedback {
  height: 27px;
  top: -6px;
}
.tooltip-inner {
  min-width: 150px;
}
.tooltip.top-right {
  padding: 5px 0;
  margin-top: 5px;
  left: auto!important;
  right: 6px!important;
}
.tooltip.top-right .tooltip-arrow {
  top: auto;
  bottom: 0;
  right: 6px;
}
.schema-form-number.has-feedback .form-control-feedback {
  right: 20px;
}
