#wrap {
  width: 100%;
  height: 100%;
  position: fixed;
}
#sidebar {
  background-color: #e7e7e7;
  overflow-y: auto;
  max-width: 220px;
  min-height: 1px;
}
#sidebar.toggled {
  width: 0;
  display: none;
  transition: all 0.5s ease;
}
#page_header_wrap {
  height: 50px;
}
#page_header {
  width: 100%;
}
.menu {
  height: 300px;
}
