/*nav-collapse*/
.navbar-nav {
  float: left;
}
.navbar-nav > li {
  float: left;
}
.navbar-collapse.collapse {
  display: block;
}
.navbar-header {
  float: left;
}
.navbar-nav {
  margin: 0;
}
.navbar-right {
  float: right !important;
}
.nav-search {
  padding: 6px 8px;
  border-bottom: 1px solid #D7D7D7;
}
.nav-search .navbar-form {
  margin: 0;
  padding: 0;
}
.nav-search .navbar-form .form-group {
  width: 100%;
}
.nav-search .navbar-form .form-control {
  border-radius: 12px;
}
.nav-search input.form-control {
  width: 100%;
  border: 1px solid #D7D7D7;
}
.navbar-inverse .navbar-nav > li.open > a,
.navbar-inverse .navbar-nav > li.open > a:hover {
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #000;
  }
}
.navbar-inverse .navbar-toggle {
  border-color: #216a94;
  margin: 5px 15px;
}
.navbar-inverse .navbar-toggle > a:focus {
  background-color: #216a94;
}
@media (max-width: 768px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu {
    position: absolute;
    background: #fff;
    left: auto;
    right: 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #444;
    padding: 3px 20px;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #000;
    background-color: #eee;
  }
}
ui-tree.main-tree {
  margin: 0 12px;
}
